.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 42px;
    margin-bottom: 20px;
}

.button-back {
    font-size: 15px;
    width: 120px;
    height: 46px;
    font-weight: var(--font-weight-medium);
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 60px;
    cursor: pointer;
    color: var(--text-first-color);
    text-decoration: none;
    transition: var(--transition);
}

.button-information {
    font-size: 20px;
    width: 49px;
    height: 49px;
    font-weight: var(--font-weight-medium);
    background-color: var(--light-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 50px;
    cursor: pointer;
    color: var(--dark-blue);
    text-decoration: none;
    transition: var(--transition);
}

.scanning-title {
    font-size: 30px;
    font-weight: var(--font-weight-bold);
    color: var(--dark-blue);
    text-align: center;
    white-space: pre-line;
    line-height: 40.12px;
    margin-bottom: 10px;
}

.scanning-text {
    font-size: 14.89px;
    font-weight: var(--font-weight-medium);
    color: var(--dark-blue);
    text-align: center;
    white-space: pre-line;
    line-height: 14.89px;
}

.qr-block {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.qr-image {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.line-qr {
    width: 70%;
    height: 2px;
    background-color: var(--gray);
    margin: 5px auto;
}

.footer {
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 14.89px;
    line-height: 25.89px;
    font-weight: var(--font-weight-medium);
    color: var(--dark-blue);
    text-align: left;
}

/* @media */
@media screen and (max-width: 1536px) {
    .button-back {
        width: 120px;
        height: 46px;
    }

    .button-information {
        font-size: 19px;
        width: 46px;
        height: 46px;
    }

    .scanning-title {
        font-size: 24px;
        line-height: 32.12px;
        margin-bottom: 10px;
    }


    .scanning-text {
        font-size: 14.89px;
        line-height: 14.89px;
    }

    .qr-image {
        object-fit: cover;
        width: 190px;
        height: 190px;
        border-radius: 30px;
    }
}

@media screen and (max-width: 1280px) {
    .button-back {
        font-size: 14px;
        width: 100px;
        height: 40px;
    }

    .button-information {
        font-size: 17px;
        width: 40px;
        height: 40px;
    }

    .scanning-title {
        font-size: 20px;
        line-height: 30.12px;
        margin-bottom: 10px;
    }

    .qr-image {
        object-fit: cover;
        width: 150px;
        height: 150px;
        border-radius: 20px;
    }

    .qr-block {
        margin: 15px auto;
    }
}

@media screen and (max-width: 1024px) {
    .button-back {
        font-size: 14px;
        padding: 5px 10px 5px 10px;
    }

    .button-information {
        font-size: 17px;
        width: 40px;
        height: 40px;
    }

    .scanning-text {
        font-size: 13.89px;
        line-height: 13.89px;
    }

    .footer-text {
        font-size: 14.89px;
        line-height: 20.89px;
        font-weight: var(--font-weight-medium);
        color: var(--dark-blue);
        text-align: left;
    }

    .line-qr {
        margin: 15px auto;
    }
}

@media screen and (max-width: 768px) {
    .button-back {
        font-size: 14px;
        padding: 5px 15px;
    }

    .button-information {
        font-size: 15px;
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 640px) {
    .button-back {
        font-size: 17px;
        padding: 10px 20px 10px 20px;
    }
}

@media screen and (max-width: 635px) {
    .button-back {
        font-size: 15px;
        padding: 5px 10px 5px 10px;
    }
}

@media screen and (max-width: 475px) {
    .button-back {
        font-size: 14px;
        padding: 5px 10px 5px 10px;
        width: 120px;
        height: 40px;
    }
}

@media screen and (max-width: 320px) {
    .button-back {
        font-size: 14px;
        padding: 5px 10px 5px 10px;
    }
}