.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 42px;
    margin-bottom: 20px;
}

.button-back {
    font-size: 15px;
    width: 120px;
    height: 46px;
    font-weight: var(--font-weight-medium);
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 60px;
    cursor: pointer;
    color: var(--text-first-color);
    text-decoration: none;
    transition: var(--transition);
}

.button-information {
    font-size: 20px;
    width: 49px;
    height: 49px;
    font-weight: var(--font-weight-medium);
    background-color: var(--light-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 50px;
    cursor: pointer;
    color: var(--dark-blue);
    text-decoration: none;
    transition: var(--transition);
}

.scanning-title {
    font-size: 34.3px;
    font-weight: var(--font-weight-bold);
    color: var(--dark-blue);
    text-align: center;
    white-space: pre-line;
    line-height: 42.12px;
    margin-bottom: 10px;
}

.scanning-text {
    font-size: 15.89px;
    font-weight: var(--font-weight-medium);
    color: var(--dark-blue);
    text-align: center;
    white-space: pre-line;
    line-height: 15.89px;
}

.qr-block {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.qr-image {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.line-qr {
    width: 70%;
    height: 2px;
    background-color: var(--gray);
    margin: 5px auto;
}

.footer {
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 15.89px;
    line-height: 27.89px;
    font-weight: var(--font-weight-medium);
    color: var(--dark-blue);
    text-align: left;
}