.options {
    margin-top: 30px;
    height: 200px;
}

.skin-slide {
    width: 82%;
    margin: 15px auto;
}

.age-types {
    width: 95%;
    display: flex;
    justify-content:space-evenly;
    margin: 15px auto;
}