.loader-bar {
    position: absolute;
    height: 145px;
    display: grid;
    justify-content: flex-start;
    background-color: none;
    top: 0px;
    right: 0px;
    z-index: 10000000;
    padding: 15px;
    background-color: var(--pink);
    border-radius: 0 50px 0 0;
}

.info-text {
    font-size: 10.91px;
    color:  var(--dark-blue);
    font-weight: var(--font-weight-medium);
    line-height: 13.02px;
    margin-bottom: 10px;
}

.process8 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.div8 {
    width: 55px;
    height: 55px;
    background-color: var(--container-bg);
    /* margin: 20px;  */
    border-radius: 10px;
}

.arrow-loading {
    margin-left: 15px;
}
