.containter {
    position: relative;
    z-index: 20;
}

.measurements {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 75px;
}

.button {
    font-size: 17px;
    margin: 5px 10px;
    padding: 4px;
    font-weight: var(--font-weight-medium);
    background-color: none;
    cursor: pointer;
    transition: var(--transition);
}
