/* .containter {
    z-index: 20;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 22px;
}

.line-horizontal {
    height: 1px;
    background-color: red;
    width: 100%;
    margin: 0;
}

.measurements {
    padding: 5px 16px;
}

.button {
    padding: 15px 0;
    background-color: transparent !important;
    cursor: pointer;
    transition: var(--transition);
} */













.containter {
    z-index: 20;
    background: transparent;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 22px;
}

.measurements {
    display: grid;
    align-items: center;
    padding: 5px 1px;
    position: relative;
}

.button {
    padding: 15px 0;
    background-color: transparent !important;
    cursor: pointer;
    transition: var(--transition);
}

.line-horizontal {
    height: 1px;
    background-color: rgb(210, 210, 212);
    min-width: 30px; 
    flex: 1;
    margin: 0 10px;
    max-width: 30px;
}
