.upload-button {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    background-color: var(--container-bg);
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: var(--transition);
}

.disabled {
    background-color:  var(--btn-text-first-color);
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.upload-button:hover {
    opacity: 0.65;
}

.upload-button p, .disabled p {
    color: var(--gray);
    line-height: 13.1px;
    font-size: 10.98px;
    font-weight: var(--font-weight-medium);
}

.uploades-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 5px auto;
}

/* Image View */
.images-view {
    z-index: 30;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--modal-bg-color);
    border-radius: 25px;
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    -ms-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}


.images-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
}

.images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: 0 auto;
    height: 150px;
}

.upload-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.remove {
    display: flex;
    justify-content: center;
    margin: 120px auto;
}


.image-container {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--white);
    margin: 4px;
    cursor: pointer;
}

.remove-elem {
    border: 1px solid var(--red)
}

.error-message {
    text-align: center;
    color: var(--dark-blue);
    line-height: 13.1px;
    font-size: 10.98px;
    font-weight: var(--font-weight-medium);
    margin: -8px auto;
}

/* Sldie Item */
.images-url-slide {
    width: 80%;
    margin: 10px auto;
}

.images-url {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* margin: 10px auto; */
    /* margin: 10px auto; */
}

.slide-button {
    background-color: none;
    border: 1px solid var(--white);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: var(--transition);
    margin: 5px;
}

.slide-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


.slide-container-item {
    position: relative;
}

.slide-container-item:hover .slide-button  {
    background-color: red;
    /* position: absolute; */
    /* width: 100%;
    height: 100%; */
    /* border-radius: 10px; */
    /* top: 0;
    left: 0;
    right: 0; */
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    /* transition: .1s; */
    border: 1px solid red;
}



.images-bg {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}


