.options {
    margin-top: 20px;
    height: 100px;
}

.description {
    line-height: 13.02px;
    color: var(--dark-blue);
    font-size: 11px;
    font-weight: var(--font-weight-medium);
    width: 68%;
    margin: 20px auto;
}

.toggle-title {
    font-size: 10.91px;
    font-weight: var(--font-weight-medium);
    line-height: 13.02px;
    color: var(--dark-blue);
    text-align: center;
    margin: 10px auto;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
}

.button-sizes {
    width: 77px;
    height: 24px;
    background-color: var(--btn-color);
    color: var(--btn-text-first-color);
    border-radius: 7px;
    margin: 5px;
    cursor: pointer;
}

.active-sizes {
    background-color: var(--btn-text-first-color);
    color: var(--dark-blue);
}