.container {
    z-index: 30;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #b4b4b6e8;
    border-radius: 30px;
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    -ms-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.popup {
    width: 320px;
    height: 380px;
    background-color: var(--modal-bg-color);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 15px 24px -15px var(--shadow-color);
}

.buttons {
    display: flex;
    justify-content: center;
}

.button-popup {
    font-size: 10.98px;
    width: 92.51px;
    height: 36.43px;
    font-weight: var(--font-weight-medium);
    border-radius: 60px;
    cursor: pointer;
    text-decoration: none;
    margin: 30px 35px;
}

.variant-1 {
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    color: var(--text-first-color);
}

.variant-1:hover {
    color: var(--dark-blue);
    background-color: var(--text-first-color);
}

.variant-2 {
    background-color: var(--text-first-color);
    color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
}

/* Header */
.header-popup {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
}

.title-s {
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    line-height: 21.48px;
    text-align: center;
    margin-bottom: 15px;
}

.line {
    width: 70%;
    height: 3px;
    margin: 0 auto;
    background-color: var(--line-color);
}