.modal {
    width: 415px;
    height: 550px;
    background-color: #fff;
    border-radius: 30px;
    position: fixed;
    top: 40%;
    transform: translate(0%, -50%);
    box-shadow: 0px 15px 24px -15px #000000a1;
    right: 10px
}


@media screen and (max-width: 1536px) {
    .modal {
        width: 415px;
        height: 470px;
        background-color:gray !important;
    }
}

@media screen and (max-width: 1280px) {
    .modal {
        height: 485px;
        background-color:green !important;
    }
}

@media screen and (max-width: 1200px) {
    .modal {
        background-color:red !important;
        height: 480px;
    }
}
@media screen and (max-width: 1024px) {
    .modal {
        background-color:black !important;
        height: 455px;
    }
}
@media screen and (max-width: 900px) {
    .modal {
        background-color:rgb(171, 27, 27) !important;
        height: 455px;
    }
}
@media screen and (max-width: 768px) {
    .modal {
        background-color:rgb(27, 99, 171) !important;
        height: 462px;
    }
}
@media screen and (max-width: 640px) {
    .modal {
        background-color:rgb(171, 142, 27) !important;
        height: 511px;
        transform: translate(-50%, -50%);
        left: 50%;
        right: 0;
    }
}
@media screen and (max-width: 480px) {
    .modal {
        background-color:rgb(27, 171, 152) !important;
        height: 460px;
        width: 80%;
    }
}
@media screen and (max-width: 320px) {
    .modal {
        background-color:rgb(89, 171, 27) !important;
        height: 460px;
        width: 80%;
    }
}


/* .modal {
    position: fixed;
    margin: auto;
    width: 415px;
    height: 555px;
    transform: translate3d(0%, 0, 0);
    border-radius: 50px;
    top: 80px;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 24px -15px #000000a1;
    right: 10px;
} */


/* @media */
/* @media screen and (max-width: 1536px) {
    .modal {
        width: 350px;
        height: 450px;
    }
}

@media screen and (max-width: 1280px) {
    .modal {
        width: 350px;
        height: 450px;
    }
}

@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
    .modal {
        width: 300px;
        height: 389px;       
    }
}

@media screen and (max-width: 768px) {
    .modal {
        width: 300px;
        height: 392px;       
    }
}

@media screen and (max-width: 640px) {
    .modal {
        width: 80%;
        height: 440px;  
        left: 15px;  
    }
}

@media screen and (max-width: 635px) {
    .modal {
        width: 60%;
        height: 440px;  
        left: 15px;  
    }
}

@media screen and (max-width: 475px) {
    .modal {
        width: 75%;
        height: 388px;  
        left: 15px;  
    }
}


@media screen and (max-width: 320px) {
    .modal {
        width: 85%;
        height: 348px;
    }
} */
