.container-splash {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64%;
}

.logo {
    width: 137px;
    height: 137px;
}


@media screen and (max-width: 1919px) and (max-height: 1079px) {
    .logo {
        width: 137px;
        height: 137px;
    }

    .container-splash {
        margin-top: 48%;
    }
}

@media screen and (max-width: 1650px) {
    .logo {
        width: 137px;
        height: 137px;
    }

    .container-splash {
        margin-top: 45%;
    }
}

@media screen and (max-width: 1280px) {
    .logo {
        width: 137px;
        height: 137px;
    }

    .container-splash {
        margin-top: 48%;
    }
}

@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
    .logo {
        width: 137px;
        height: 137px;
    }

    .container-splash {
        margin-top: 48%;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 137px;
        height: 137px;
    }

    .container-splash {
        margin-top: 48%;
    }
}

@media screen and (max-width: 640px) {
    .logo {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 635px) {
    .logo {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 475px) {
    .logo {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        width: 120px;
        height: 120px;
    }
}