.shape-button {
    background-color: none;
    border: 1px solid var(--white);
    border-radius: 10px;
    width: 59px;
    height: 59px;
    cursor: pointer;
    transition: var(--transition);
}

.active {
    border: 1px solid var(--dark-blue);
}