.example {
    z-index: 20;
    background: red;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    right: 20px;
    top: 13%;
    transform: translateY(-50%);
    border-radius: 30px;
}

.example-block {
    display: grid;
    align-items: center;
    padding: 60px 40px;
    position: relative;
}