.wrapper {
    width: 200px !important;
    height: 60px !important;
    position: absolute !important;
    left: 50% !important;
    top: 45% !important;
    transform: translate(-50%, -50%) !important;
}

.circle {
    width: 20px !important;
    height: 20px !important;
    position: absolute !important;
    border-radius: 50% !important;
    background-color: #0C0D34 !important;
    left: 15% !important;
    transform-origin: 50% !important;
    animation: circle .5s alternate infinite ease !important;
}

@keyframes circle {
    0% {
        top: 60px !important;
        height: 5px !important;
        border-radius: 50px 50px 25px 25px !important;
        transform: scaleX(1.7) !important;
    }

    40% {
        height: 20px !important;
        border-radius: 50% !important;
        transform: scaleX(1) !important;
    }

    100% {
        top: 0% !important;
    }
}

.circle:nth-child(2) {
    left: 45% !important;
    animation-delay: .2s !important;
}

.circle:nth-child(3) {
    left: auto !important;
    right: 15% !important;
    animation-delay: .3s !important;
}

.shadow {
    width: 20px !important;
    height: 4px !important;
    border-radius: 50% !important;
    background-color: rgba(0, 0, 0, .5) !important;
    position: absolute !important;
    top: 62px !important;
    transform-origin: 50% !important;
    z-index: -1 !important;
    left: 15% !important;
    filter: blur(1px) !important;
    animation: shadow .5s alternate infinite ease !important;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5) !important;
    }

    40% {
        transform: scaleX(1) !important;
        opacity: .7 !important;
    }

    100% {
        transform: scaleX(.2) !important;
        opacity: .4 !important;
    }
}

.shadow:nth-child(4) {
    left: 45% !important;
    animation-delay: .2s !important
}

.shadow:nth-child(5) {
    left: auto !important;
    right: 15% !important;
    animation-delay: .3s !important;
}

.wrapper span {
    position: absolute !important;
    top: 75px !important;
    font-size: 20px !important;
    letter-spacing: 12px !important;
    color: #0C0D34 !important;
    left: 15% !important;
}