@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
}

*:focus {
  outline: none;
}

:root {
  /*========== Colors ==========*/
  --first-color: #373d46;
  --bg-first-color: #FFFFFF;
  --modal-bg-color: #fff;
  --bg-color: #414260;
  --text-input-bg: #FFFFFF;
  --text-color: #FFFFFF;
  --container-bg: #c7ad91;
  --btn-color: #ddc0a1;
  --border-color: #EDEDED;
  --light-blue: #2ECDCD;

  /* ogtagorcvox */
  --dark-blue: #0C0D34;
  --text-first-color: #F6F6F6;

  /* end */

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
}

button:active,
button:focus {
  outline: none;
}

input[type="text"]:focus {
  border: 1px solid #EDEDED;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

model-viewer {
  width: 100%;
  height: 250px;
}

model-viewer::part(default-progress-bar) {
  display: none;
}

model-viewer::part(default-ar-button) {
  display: none;
}

@media screen and (max-width: 1536px) {
  model-viewer {
    width: 100%;
    height: 175px;
  }
}

@media screen and (max-width: 1280px) {
  model-viewer {
    width: 100%;
    height: 175px;
  }
}

@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
  model-viewer {
    width: 100%;
    height: 160px;
  }
}

@media screen and (max-width: 768px) {
  model-viewer {
    width: 100%;
    height: 160px;
  }
}

@media screen and (max-width: 640px) {
  model-viewer {
    width: 100%;
    height: 250px;
  }
}

@media screen and (max-width: 635px) {
  model-viewer {
    width: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 475px) {
  model-viewer {
    width: 100%;
    height: 160px;
  }
}

@media screen and (max-width: 320px) {
  model-viewer {
    width: 100%;
    height: 129px;
  }
}







