@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
}

*:focus {
  outline: none;
}

:root {
  /*========== Colors ==========*/
  --first-color: #373d46;
  --text-first-color: #FFFFFF;
  --bg-first-color: #FFFFFF;
  --modal-bg-color: #fff;
  --bg-color: #414260;
  --text-input-bg: #FFFFFF;
  --text-color: #FFFFFF;
  --container-bg: #c7ad91;
  --btn-color: #ddc0a1;
  --border-color: #EDEDED;
  --light-blue: #2ECDCD;

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
}

button:active,
button:focus {
  outline: none;
}

input[type="text"]:focus {
  border: 1px solid #EDEDED;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}