.options {
    margin-top: 20px;
    height: 220px;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
}

.button-sizes {
    width: 77px;
    height: 24px;
    background-color: #F8FAFC;
    color: #D9D9D9;
    border-radius: 7px;
    margin: 5px;
    cursor: pointer;
}

.active {
    background-color: #D9D9D9;
    color: var(--dark-blue);
}

/* Input Range */
.range {
    margin: 35px auto;
    width: 70%;
}

.range-titles {
    display: flex;
    justify-content: space-between;
}

.range-title {
    font-size: 10.91px;
    color: var(--dark-blue);
    font-weight: 500;
    text-align: left;
}







