.iframe {
    width: 100%;
    height: 360px;
    margin-top: 20px;
    pointer-events: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 50px;
    border: none;    
}


@media screen and (max-width: 1536px) {
    .iframe {
        width: 100%;
        height: 320px;
    }
}

@media screen and (max-width: 1280px) {
    .iframe {
        width: 100%;
        height: 268px;
    }
}

@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
    .iframe {
        width: 100%;
        height: 258px;
    }
}

@media screen and (max-width: 768px) {
    .iframe {
        width: 100%;
        height: 258px;
    }
}

@media screen and (max-width: 640px) {
    .iframe {
        width: 100%;
        height: 248px;
    }
}

@media screen and (max-width: 635px) {
    .iframe {
        width: 100%;
        height: 248px;
    }
}

@media screen and (max-width: 475px) {
    .iframe {
        width: 100%;
        height: 248px;
    }
}

@media screen and (max-width: 320px) {
    .iframe {
        width: 100%;
        height: 248px;
    }
}





/* Hide buttons clo-set */

.btn_hide {
    width: 78px;
    height: 120px;
    background-color:rgb(236, 237, 234);
    position: absolute;
    top: 38px;
    right: 19px;
    border-radius: 35px;
}

.btn_hide_fitting {
    width: 57px;
    height: 166px;
    background-color: rgb(236, 237, 234);
    position: absolute;
    top: 130px;
    right: 18px;
    border-radius: 35px 0 35px 35px;
}

/* END */
